@media (max-width: 992px) {
    .menu-link {
        font-size: 18px;
    }
    .categories-flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .mt-16-responsive {
        margin-top: 16px;
    }
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }
    .menu-active {
        left: 0;
    }
    .menu-item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
    }
    .menu-link {
        font-size: 16px;
    }
    .menu .footer-item,
    .menu .footer-socials {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .menu .footer-item a {
        font-size: 16px;
        font-weight: bold;
    }
    nav {
        padding: 0 16px;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #FFFFFF;
        margin-bottom: 3px;
        transition: 0.5s all;
    }
    .hamburger-active span {
        margin-bottom: -3px;
    }
    .hamburger-active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .hamburger-active span:nth-child(2) {
        display: none;
    }
    .hamburger-active span:nth-child(3) {
        transform: rotate(45deg);
    }
    .sidebar {
        min-width: auto;
        height: 100%;
    }
    .sidebar .search-box,
    .sidebar a {
        display: none;
    }
    .sidebar.show .search-box,
    .sidebar.show a {
        display: block;
    }
    .sidebar .sidebar-icon-close {
        display: none;
    }
    .sidebar .sidebar-icon-open {
        display: inline-block;
        color: #FF4401;
        font-size: 24px;
    }
    .sidebar.show .sidebar-icon-close {
        display: inline-block;
        color: #FF4401;
        font-size: 24px;
    }
    .sidebar.show .sidebar-icon-open {
        display: none;
    }
    .sidebar.show {
        width: 100%;
    }
    #sidebar-toggle {
        display: block;
        position: relative;
        padding: 0 10px;
        padding-top: 7px;
        align-self: center;
    }
    .sidebar.show #sidebar-toggle {
        padding-top: 0px;
    }
    .main-content {
        margin-left: 60px;
        width: calc(100% - 60px);
        padding: 10px 16px 120px;
    }
    .alert-flex-container {
        flex-direction: column;
    }
    .categories-flex-wrapper {
        flex-direction: column;
    }
    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-menu {
        margin-bottom: 10px;
    }
    .footer-socials {
        margin-top: 10px;
    }
    .footer-link {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
    .footer-copyright {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
    .footer {
        display: none;
    }
    .main-content {
        margin-right: 0;
        margin-bottom: 60px;
    }
    .xs-hidden {
        display: none;
    }
    .xs-visible {
        display: block;
    }
    dl {
        font-size: 16px;
    }
    dl::after {
        display: none;
    }
    dd {
        margin: 10px 0 10px 140px;
    }
    .search-input {
        padding: 7px 30px 7px 10px;
    }
    table.responsive-table thead {
        display: none;
    }
    table.display th,
    table.display td {
        padding: .5em;
    }
    table.responsive-table td:nth-child(1):before {
        content: attr(data-title);
    }
    table.responsive-table td:nth-child(2):before {
        content: 'Description | Options';
    }
    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2) {
        padding-left: 50%;
    }
    table.responsive-table td:nth-child(1):before,
    table.responsive-table td:nth-child(2):before {
        position: absolute;
        left: 4px;
        font-weight: 500;
        font-size: 14px;
        flex-wrap: wrap;
    }
    table.responsive-table tr,
    table.responsive-table td {
        display: block;
    }
    table.responsive-table tr {
        position: relative;
        margin-bottom: 1em;
        border-bottom: none!important;
    }
    table.responsive-table td {
        border-top: none;
    }
    table.responsive-table td.actions {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
    .modal table.responsive-table td {
        display: inline-block;
    }
    .modal table.responsive-table td:nth-child(1):before,
    .modal table.responsive-table td:nth-child(2):before {
        display: none;
    }
    .modal table.responsive-table td:nth-child(1),
    .modal table.responsive-table td:nth-child(2) {
        padding-left: 0;
    }
    .modal table.responsive-table tr {
        border-bottom: 1px solid #D1CDCD!important;
        min-width: 100%;
    }
    td {
        border-right: none!important;
        min-height: 30px;
    }
    td p {
        padding: 0 0 6px 0;
    }
    td .text-indent-10,
    td .text-indent-20,
    td .text-indent-30,
    td .text-indent-40,
    td .text-indent-50,
    td .text-indent-60,
    td .text-indent-70,
    td .text-indent-80,
    td .text-indent-100,
    td .text-indent-130 {
        text-indent: 0;
    }
    .menu-link:hover::after,
    .footer-link:hover:after {
        display: none;
    }
    .col-left,
    .col-right {
        float: none;
        width: 100%;
    }
    .pb-20px {
        padding-bottom: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .main-content {
        max-width: calc(1200px + 1vw);
    }
}

@media (min-width: 1800px) {
    .main-content {
        max-width: calc(1200px + 10vw);
    }
}