@media (max-width: 1200px) {
    .categories-flex-container {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .menu-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }
    .menu-active {
        left: 0;
    }
    .menu-item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
    }
    .menu-link {
        font-size: 18px;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #FFFFFF;
        margin-bottom: 3px;
        transition: 0.5s all;
    }
    .hamburger-active span {
        margin-bottom: -3px;
    }
    .hamburger-active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .hamburger-active span:nth-child(2) {
        display: none;
    }
    .hamburger-active span:nth-child(3) {
        transform: rotate(45deg);
    }
    .sidebar {
        width: auto;
    }
    .sidebar .search-box,
    .sidebar a {
        display: none;
    }
    .sidebar.show .search-box,
    .sidebar.show a {
        display: block;
    }
    .sidebar .sidebar-icon-close {
        display: none;
    }
    .sidebar .sidebar-icon-open {
        display: inline-block;
        color: #FF4401;
        font-size: 24px;
    }
    .sidebar.show .sidebar-icon-close {
        display: inline-block;
        color: #FF4401;
        font-size: 24px;
    }
    .sidebar.show .sidebar-icon-open {
        display: none;
    }
    .sidebar.show {
        width: 100%;
    }
    #sidebar-toggle {
        display: block;
        position: relative;
        padding: 0 10px;
        align-self: center;
    }
    .main-content {
        margin-left: 60px;
        width: calc(100% - 60px);
        padding: 10px 16px 120px;
    }
    .alert-flex-container {
        flex-direction: column;
    }
    .categories-flex-wrapper {
        flex-direction: column;
    }
    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-menu {
        margin-bottom: 10px;
    }
    .footer-socials {
        margin-top: 10px;
    }
    .footer-link {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
    .footer-copyright {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
    .footer {
        display: none;
    }
    .main-content {
        margin-right: 0;
        margin-bottom: 60px;
    }
    .xs-hidden {
        display: none;
    }
    .xs-visible {
        display: block;
    }
    dl {
        font-size: 16px;
    }
    dl::after {
        display: none;
    }
    dd {
        margin: 10px 0 10px 140px;
    }
}