@media (max-width: 1200px) {
    .categories-flex-container {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background: rgba(0, 0, 0, .8);
        transition: 0.6s all;
    }
    .menu-active {
        left: 0;
    }
    .menu-item {
        padding-right: 0;
        border: none;
        margin: 10px 0;
    }
    .menu-link {
        font-size: 18px;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #FFFFFF;
        margin-bottom: 3px;
        transition: 0.5s all;
    }
    .hamburger-active span {
        margin-bottom: -3px;
    }
    .hamburger-active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .hamburger-active span:nth-child(2) {
        display: none;
    }
    .hamburger-active span:nth-child(3) {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 16px;
        padding-top: 100px;
    }
    .sidebar a {
        float: left;
    }
    div.main-content {
        margin-left: 0;
        width: 100%;
    }
    .alert-flex-container {
        flex-direction: column;
    }
    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-menu {
        margin-bottom: 10px;
    }
    .footer-socials {
        margin-top: 10px;
    }
    .main-content {
        margin-right: 0;
        margin-bottom: 60px;
    }
    .xs-hidden {
        display: none;
    }
    .xs-visible {
        display: block;
    }
}