* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 80px;
}

.header-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #000000;
    z-index: 1000;
}

.menu {
    display: flex;
}

.menu-item {
    list-style-type: none;
    padding-right: 30px;
}

.menu-link {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.menu-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF4401;
    transition: width 0.3s ease-out;
}

.menu-link:hover::after,
.menu-link.active::after {
    width: 100%;
}

.promo {
    position: fixed;
    background: #FF4401;
    padding: 9px 0;
    width: 100%;
    z-index: 1000;
}

.promo-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.promo-descr {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.sidenav {
    height: 100%;
    width: 402px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D1CDCD;
    overflow-x: hidden;
    padding-top: 150px;
    padding-bottom: 767px;
}

.sidenav a {
    padding: 7px 8px 7px 24px;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #000000;
}


/* .search {
    position: relative;
    height: 50px;
    padding-left: 24px;
}

.search .input {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 22px;
    padding: 15px;
    height: 40px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 300px;
}

.search.active .btn {
    transform: translateX(298px);
} */

.search-box {
    width: 330px;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 24px;
    margin-bottom: 35px;
}

.search-input {
    width: 100%;
    font-weight: normal;
    font-size: 22px;
    padding: 7px 45px 7px 10px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 1px solid #000000;
    transition: all .4s;
}

.search-input:focus {
    border: none;
    outline: none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
    background-color: transparent;
    font-size: 22px;
    padding: 6px 9px;
    margin-left: -45px;
    border: none;
    color: rgba(0, 0, 0, .5);
    transition: all .4s;
    z-index: 10;
}

.search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

.search-btn:focus {
    outline: none;
    color: black;
}

.main {
    margin-left: 450px;
    margin-right: 130px;
    padding: 76px 0 227px;
}

.main-title {
    font-weight: 500;
    font-size: 34px;
    color: #000000;
}

.main-subtitle {
    font-weight: normal;
    font-size: 28px;
    color: #000000;
    margin-top: 25px;
}

.main-item {
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    margin-top: 25px;
}

.main-descr {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 5px;
}

.main-descr a {
    color: #FF4401;
    text-decoration: underline;
}

.footer {
    background-color: #000000;
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding-top: 9px;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu .footer-item {
    list-style-type: none;
    padding-bottom: 4px;
}

.footer-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
}

.footer-social-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 10px;
}