* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.fw-500 {
    font-weight: 500!important;
}

.fw-400 {
    font-weight: 400!important;
}

.mt-25 {
    margin-top: 25px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-77 {
    margin-bottom: 77px;
}

.mt-0 {
    margin-top: 0!important;
}

.mt-8 {
    margin-top: 8px;
}

.mb-0 {
    margin-bottom: 0!important;
}

.ml-16 {
    margin-left: 16px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-45 {
    margin-left: 45px;
}

.pt-15px {
    padding-top: 15px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-90px {
    padding-bottom: 90px;
}

.pb-150px {
    padding-bottom: 150px;
}

.pl-30 {
    padding-left: 30px;
}

.text-decoration {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}

.word-break {
    word-break: break-word;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    padding-bottom: 10px;
}

.modal-descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.xs-visible {
    display: none;
}

.header {
    position: relative;
    height: 80px;
}

.header-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #000000;
    z-index: 1000;
    padding: 0 48px;
}

.hamburger {
    display: none;
}

.logo-img {
    width: 188px;
    height: 40px;
}

.menu {
    display: flex;
}

.menu-item {
    list-style-type: none;
    padding-right: 30px;
}

.menu-link {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.menu-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #FF4401;
    transition: 0.3s ease-out;
}

.menu-link:hover::after,
.menu-link.active::after {
    width: 100%;
}

.menu .footer-item,
.menu .footer-socials {
    display: none;
}

.alert {
    position: fixed;
    background: #FF4401;
    padding: 9px 24px;
    width: 100%;
    z-index: 2;
    display: none;
}

.alert.show {
    display: block;
}

.alert-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert-descr {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.sidebar {
    height: calc(100% - 120px);
    min-width: 340px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D1CDCD;
    overflow-x: hidden;
    padding: 80px 0;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 5px;
}

#sidebar-toggle {
    display: none;
}

.main-content {
    margin-left: 460px;
    padding: 30px 16px 227px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.sidebar a {
    padding: 7px 24px;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
    display: block;
}

.sidebar a:hover {
    color: #000000;
}

.level-1 span {
    position: relative;
}

.level-1 span:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0px;
    left: 0px;
    height: 2px;
    background-color: #FF4401;
    transition: 0.3s ease-out;
}

.level-1 span:hover:after,
.level-1.active span:after {
    width: 100%;
}

.level-2 {
    background: #000000B3;
    color: #FFFFFF!important;
    padding: 9px 40px!important;
}

.level-2:hover,
.level-2.active {
    color: #FF4401!important;
}

.level-3 {
    background: #000000;
    color: #FFFFFF!important;
    padding: 9px 60px!important;
}

.level-3:hover,
.level-3.active {
    color: #FF4401!important;
}

.level-4 {
    background: #000000;
    color: #FFFFFF!important;
    padding: 9px 30px 9px 90px!important;
}

.level-4:hover,
.level-4.active {
    color: #FF4401!important;
}

.level-5 {
    background: #000000;
    color: #FFFFFF!important;
    padding: 9px 30px 9px 160px!important;
}

.level-5:hover,
.level-5.active {
    color: #FF4401!important;
}

.level-6 {
    background: #000000;
    color: #FFFFFF!important;
    padding: 9px 60px!important;
}

.level-6:hover,
.level-6.active {
    color: #FF4401!important;
}

.pl-90px {
    padding-left: 90px!important;
}

.pl-120px {
    padding-left: 120px!important;
}

.search-box {
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-input {
    width: auto!important;
    font-weight: normal;
    font-size: 22px;
    padding: 7px 45px 7px 10px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #000000;
    transition: all .4s;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
    background-color: transparent;
    font-size: 22px;
    padding: 6px 9px;
    margin-left: -45px;
    border: none;
    color: rgba(0, 0, 0, .5);
    transition: all .4s;
    z-index: 10;
}

.search-input-wide {
    width: 98%!important;
}

.search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}

.search-btn:focus {
    outline: none;
    color: black;
}

.sidebar-icon {
    font-size: 30px;
    color: #FF4401;
}

.main-title {
    font-weight: 500;
    font-size: 34px;
    color: #000000;
}

.main-subtitle {
    font-weight: normal;
    font-size: 28px;
    color: #000000;
    margin-top: 25px;
}

.main-item {
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    margin-top: 25px;
}

.main-descr {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.main-format {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    margin-top: 12px;
    flex-wrap: wrap;
    display: flex;
    overflow-wrap: anywhere;
}

.main-format span {
    color: #FF4401;
}

.main-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FF4401;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.main-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF4401;
    transition: 0.3s ease-out;
}

.main-link:hover::after {
    width: 100%;
}

.footer {
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding-top: 9px;
    padding: 9px 48px 37px 48px;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu .footer-item {
    list-style-type: none;
    padding-bottom: 4px;
}

.footer-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.footer-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #FF4401;
    transition: 0.3s ease-out;
}

.footer-link:hover:after,
.footer-link.active::after {
    width: 100%;
}

.footer-items {
    text-align: center;
}

.footer-copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
}

.footer-social-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 10px;
}

.footer-social-item:hover {
    color: #FF4401;
}

.news-link {
    font-weight: normal;
    font-size: 28px;
    color: #FF4401;
    display: block;
    margin: 25px 0;
}

.subtitle {
    font-weight: 100;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 39px;
}

.main-form {
    margin: 36px 0 85px;
    display: flex;
    flex-direction: column;
}

.main-form .error {
    border: 1px solid #e99292;
    margin-bottom: 20px;
}

.main-form label.error {
    border: none;
    color: #cc3b3b;
    font-size: 16px;
}

label {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 5px;
}

input,
select {
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 8px 15px;
}

input::placeholder {
    color: rgba(0, 0, 0, .3);
    font-weight: normal;
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 354px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #4B4B4B;
    font-size: 16px;
    resize: none;
}

.form-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;
}

.form-radio:hover input~.checkmark {
    background-color: #FFFFFF;
}

.form-radio input:checked~.checkmark {
    background-color: #2196F3;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-radio input:checked~.checkmark:after {
    display: block;
}

.form-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

select:required:invalid {
    color: rgba(0, 0, 0, .3);
    ;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #000;
}

.small-descr {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.small-label {
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    margin-bottom: 5px;
}

.categories-flex-container {
    display: flex;
    flex-direction: row;
}

.categories-left-block {
    padding-right: 60px;
}

.categories-left-item {
    padding-right: 20px;
}

.categories-flex-wrapper {
    display: flex;
    flex-direction: row;
}

.checkbox-other {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-other input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-style {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.checkbox-other:hover input~.check-style {
    border: 2px solid #000000;
}

.checkbox-other input:checked~.check-style {
    background-color: #2196F3;
}

.check-style:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-other input:checked~.check-style:after {
    display: block;
}

.checkbox-other .check-style:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.base-input {
    border: 2px solid #000000;
    border-radius: 6px;
    height: 30px;
}

.categories-title {
    font-weight: 500;
    font-size: 26px;
    color: #000;
}

.categories-label {
    font-weight: 500;
    font-size: 22px;
    color: #000;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.categories-link {
    font-weight: normal;
    font-size: 22px;
    color: #FF4401;
}

.btn-primary {
    background: #FF4401;
    border: 1px solid #000000;
    border-radius: 15px;
    color: #000;
    font-weight: 500;
    font-size: 32px;
    padding: 16px 34px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    cursor: pointer;
}

.base {
    padding: 67px 16px 190px;
    min-height: 1400px;
}

dl {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    position: relative;
}

dl::after {
    content: "";
    display: block;
    height: 224px;
    width: 2px;
    background-color: #FF4401;
    position: absolute;
    top: 0;
    left: 206px;
}

dt {
    float: left;
}

dd {
    margin: 10px 0 10px 256px;
}

.contact-link {
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.contact-link span:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF4401;
    transition: 0.3s ease-out;
}

.contact-link span:hover:after {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #000;
}

tr {
    border-bottom: 1px solid #000;
    min-width: calc(100vw - 100px);
}

th {
    background: #000;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 20px;
    padding: 5px 10px;
    text-align: start;
}

td {
    background: #FFFFFF;
    padding: 8px;
    text-align: start;
    vertical-align: top;
    border-right: 1px solid #000;
}

td p {
    text-decoration: none;
    color: #FF4401;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding: 6px 0;
    overflow-wrap: break-word;
}

td p a {
    font-weight: 500;
    text-decoration: underline;
}

table.light th {
    background-color: #FFFFFF;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 10px;
}

.d-flex {
    display: flex;
}

.text-primary {
    color: rgb(71, 92, 150);
}

.p-0 {
    padding: 0;
}

.modal-lg {
    max-width: 800px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.text-dark {
    color: #000;
}

.text-danger {
    color: #FF4401!important;
}

td:nth-child(2) {
    border-right: none;
}

.accordion {
    max-width: 1366px;
    margin: 10px auto 0;
}

.accordion-item {
    margin-bottom: 5px;
}

.accordion-title {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.accordion-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF4401;
    transition: 0.5s ease-out;
}

.accordion-title:hover::after {
    width: 100%;
}

.accordion::after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    height: 1em;
    transition: transform 0.3s ease-in;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.accordion-content {
    padding: 10px 16px;
    margin: 15px 0 25px 30px;
    border: 1px solid #000000;
}

.accordion-content p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.text-indent-10 {
    text-indent: 10px;
}

.text-indent-20 {
    text-indent: 20px;
}

.text-indent-30 {
    text-indent: 30px;
}

.text-indent-40 {
    text-indent: 40px;
}

.text-indent-50 {
    text-indent: 50px;
}

.text-indent-60 {
    text-indent: 60px;
}

.text-indent-70 {
    text-indent: 70px;
}

.text-indent-80 {
    text-indent: 80px;
}

.text-indent-90 {
    text-indent: 90px;
}

.text-indent-100 {
    text-indent: 100px;
}

.text-indent-110 {
    text-indent: 110px;
}

.text-indent-120 {
    text-indent: 120px;
}

.text-indent-130 {
    text-indent: 130px;
}

.text-indent-140 {
    text-indent: 140px;
}

.text-indent-150 {
    text-indent: 150px;
}

.text-indent-160 {
    text-indent: 160px;
}

.text-indent-170 {
    text-indent: 170px;
}

.text-indent-180 {
    text-indent: 180px;
}


/*---------------------*/


/*   JQuery UI         */


/*---------------------*/

.ui-widget-content {
    background: white!important;
}

.ui-widget-content a {
    color: black;
}

.ui-dialog-buttonset .ui-button {
    background: #FF4401;
    border: 1px solid #000000;
    border-radius: 8px;
    color: #000;
    text-align: center;
    cursor: pointer;
}


/*---------------------*/


/*   Signup page       */


/*---------------------*/

#termsAndConditions-error {
    display: block;
}

.recaptcha-desc.text-error {
    color: #cc3b3b;
}

.col-left {
    float: left;
    width: 35%;
}

.col-right {
    float: right;
    width: 65%;
}

.jquery-modal.blocker.current {
    z-index: 10001;
}

.modal table tr td {
    border-right: none;
    background: transparent;
}